*,::after,::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  position: relative;
  flex-direction: column;
  height: 60vh;
  width: 60vw;
  background:linear-gradient(90deg,gray,white);
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin:2rem auto auto;

  
}
.container textarea{
  position: absolute;
  border: 0.1rem solid gray;
  border-radius:0.5rem;
  height: 20vh;
  width: 40vh;
  margin-top: 0.1rem;
  border: none;
  resize: none;
  outline: none;
  padding: 1rem;
}
.container button{
  background:transparent;
  height: 5vh;
  margin: 12rem 0 0 0;
 border: 0.1rem solid white;
 width: 10vw;
}
.container input{
  width: 15vw;
  height: 5vh;
  border: none;
  outline: none;
}